<div class="margin-top grid-container">
    <div class="grid-child">
        <mat-card>
            <mat-card-content>
                <img class="card-img-top" src="" alt="">

                <div class="card-body">
                    <h2 class="card-title">New Transaction</h2>
                    <p class="card-text">
                        Quickly create new transactions to transfer
                        amount to benificiearies.
                    </p>

                    <a [routerLink]="['/new-transaction']" class="btn btn-outline-primary btn-sm">
                        Transfer Funds
                        <i class="fa fa-money"></i>
                    </a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="grid-child">
        <mat-card>
            <mat-card-content>
                <img class="card-img-top" src="" alt="">

                <div class="card-body">
                    <h2 class="card-title">View Submitted Transactions</h2>
                    <p class="card-text">
                        View all the historical Transactions
                        that have been performed by you.
                    </p>

                    <a [routerLink]="['/view-transaction']" class="btn btn-outline-primary btn-sm">
                        View transaction History
                        <i class="fa fa-eye"></i>
                    </a>
                </div>
            </mat-card-content>
        </mat-card>

    </div>

</div>